#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
/** THIS CAUSES A VISUAL BUG, TODO: fix this, change gif to 
  * still image and apply own rotations 
.ball:hover { 
  filter: drop-shadow(0 0 2em #646cffaa);
}*/

@keyframes ball-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: ball-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ball img {
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: top 0.5s ease, left 0.5s ease; /* Smooth transition */
}

.sunflowers {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto; /* Maintains aspect ratio */
  z-index: -1; /* Sends it behind other content if necessary */
}

.sunflowers img {
  width: 100%; /* Makes the image stretch to the width of the page */
  height: auto; /* Maintains the image's aspect ratio */
  object-fit: cover; /* Ensures the image covers the space neatly */
}

.new-background {
  background: linear-gradient(to right, rgb(105, 105, 105), rgb(0, 0, 0));
}
