#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.gnome
{
  width: 200;
  height: auto ;
}
.gnome:hover
{
  filter: drop-shadow(0 0 2em #151a7eaa);
}

.instagram:hover
{
  filter: drop-shadow(0 0 2em #df1663e8)
}

@keyframes gnome-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .gnome {
    animation: gnome-spin infinite 20s linear;
  }
}

.button {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-color: #FFC0CB;
  margin: 10;
  height: 95;
}

